{% extends 'base.html' %}

{% block title %}{{ product.product_name }} - Product Details{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 text-center">
        </div>
        {% if product.product_picture %}
        <img src="{{ url_for('views.get_image', filename=product.product_picture) }}" 
             alt="{{ product.product_name }}" 
             width="250" 
             height="250">
         {% else %}
        No Image
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2>{{ product.product_name }}</h2>
            <p>{{ product.description }}</p>
            <p class="text-danger fw-bold">
                <span class="text-muted small"><s>₹{{ product.old_price }}</s></span> ₹{{ product.current_price }}
            </p>
            <p><strong>Category:</strong> {{ product.category }}</p>
            <p><strong>Color:</strong> {{ product.color }}</p>
            <p><strong>Stock:</strong> {{ product.stock }}</p>


          

            <!-- ❤️ Add to Wishlist Form -->
            <form action="{{ url_for('views.wishlist_add', product_id=product.id) }}" method="POST">
                <button type="submit" class="btn btn-outline-danger mt-2">❤️ Add to Wishlist</button>
            </form>

        </div>
    </div>
    </div>
</div>
{% endblock %}
